.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
.ruby-version
.ruby-gemset
_deploy
public
sass.old
source.old
source/_stash
source/screen.css
cv/jsonresume-theme-*
vendor
node_modules
Gemfile.lock
