x-logging: &default-logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "5"

services:
  le-dns-updater:
    image: ghcr.io/umputun/le-dns-updater:master
    container_name: le-dns-updater
    hostname: le-dns-updater
    restart: always
    logging: *default-logging
    volumes:
      - ./private/le-dns-updater:/srv/var
      - /var/run/docker.sock:/var/run/docker.sock:ro
    # See https://github.com/go-acme/lego#dns-providers for details
    # DO_AUTH_TOKEN
    env_file: private/environment/le-dns-updater.env
    command:
      - paskal.07@gmail.com  # email
      - digitalocean         # provider
      - "terrty.net *.terrty.net terrty.com *.terrty.com terrty.dev *.terrty.dev paskal.dev *.paskal.dev pask.al *.pask.al ksinia.net *.ksinia.net ksinia.com *.ksinia.com ksinia.dev *.ksinia.dev" # domains
      - "docker restart nginx"

  nginx:
    image: nginx:1-alpine
    hostname: nginx
    restart: always
    container_name: nginx
    depends_on:
      - zabbix-web
      - plausible
      - adminer
      - updater
      - lhci
    logging: *default-logging

    volumes:
      # terrty.net blog source code
      - ../blog/public:/usr/share/nginx/html
      # ksinia.net source code
      - ./private/ksinia/public/:/usr/share/nginx/html2
      # common files
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/ssl.conf:/etc/nginx/ssl.conf
      - ./config/nginx/static.conf:/etc/nginx/static.conf
      - ./config/nginx/security-headers.conf:/etc/nginx/security-headers.conf
      - ./config/nginx/conf.d:/etc/nginx/conf.d
      # certificate folder from le-dns-updater
      - ./private/le-dns-updater/certificates:/etc/nginx/le-dns-updater
      # htpasswd files for basic auth
      - ./private/nginx-htpasswd:/etc/nginx/htpasswd:ro

    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"

    environment:
      - TZ=UTC

  remark42:
    image: ghcr.io/umputun/remark42:master
    container_name: "remark42"
    hostname: "remark42"
    restart: always
    logging: *default-logging

    expose:
      - "8080"

    # many variables
    env_file: private/environment/remark42.env

    environment:
      - REMARK_URL=https://remark42.terrty.net
      - SITE=terrty
    volumes:
      - ./private/remark42-data:/srv/var

  zabbix-web:
    image: zabbix/zabbix-web-nginx-mysql:latest
    container_name: zabbix-web
    hostname: zabbix-web
    restart: always
    depends_on:
      - zabbix-server
    logging: *default-logging

    # MYSQL_DATABASE, MYSQL_PASSWORD, MYSQL_USER
    env_file: private/environment/mysql.env
    environment:
      - TZ=UTC
      - DB_SERVER_SOCKET=/var/run/mysqld/mysqld.sock
      - ZBX_SERVER_HOST=zabbix-server
      - PHP_TZ=Europe/Moscow
    expose:
      - "8080"
    # uncomment for local tests
    # ports:
    #     - "8080:8080"
    volumes:
      # MySQL socket to prevent transferring data through TCP
      - ./private/mysqld:/var/run/mysqld
    labels:
      - "telegram-notifier.monitor=true"

  zabbix-server:
    build: config/zabbix
    image: ghcr.io/paskal/zabbix-server-mysql:latest
    container_name: zabbix-server
    hostname: zabbix-server
    restart: always
    logging: *default-logging

    # MYSQL_DATABASE, MYSQL_PASSWORD, MYSQL_USER
    env_file: private/environment/mysql.env
    volumes:
      - ./config/zabbix/externalscripts:/usr/lib/zabbix/externalscripts
      # MySQL socket to prevent transferring data through TCP
      - ./private/mysqld:/var/run/mysqld
    environment:
      - TZ=UTC
      - DB_SERVER_SOCKET=/var/run/mysqld/mysqld.sock
      - ZBX_TIMEOUT=30
    ports:
      - "10051:10051"
    labels:
      - "telegram-notifier.monitor=true"

  # In order for data collection from Zabbix Server to work,
  # you'll need to go to host settings in Zabbix and change Agent
  # interface from "IP 127.0.0.1" to "DNS Name zabbix-agent"
  zabbix-agent:
    image: zabbix/zabbix-agent2:latest
    container_name: zabbix-agent
    restart: always
    privileged: true
    user: root
    logging: *default-logging

    volumes:
      # this is needed in order to monitor docker
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - TZ=UTC
      - ZBX_HOSTNAME=Zabbix server
      - ZBX_SERVER_HOST=zabbix-server

  mysql:
    image: jamielsharief/mysql:latest
    container_name: mysql
    command:
      - mysqld
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_bin
      - --skip-mysqlx
    logging: *default-logging

    # MYSQL_DATABASE, MYSQL_PASSWORD, MYSQL_USER
    env_file: private/environment/mysql.env
    environment:
      - TZ=UTC
    expose:
      - "3306"
    # uncomment for local tests
    # ports:
    # - 3306:3306
    volumes:
      # Data persistence
      - ./private/mysql-data:/var/lib/mysql
      # MySQL socket to prevent transferring data through TCP
      - ./private/mysqld:/var/run/mysqld
    # fix for `mbind: Operation not permitted`
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE
    restart: always

  plausible_db:
    image: postgres:14-alpine
    hostname: plausible_db
    container_name: plausible_db
    restart: always
    logging: *default-logging
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres

  plausible_events_db:
    image: clickhouse/clickhouse-server:24.12-alpine
    hostname: plausible_events_db
    container_name: plausible_events_db
    restart: always
    logging: *default-logging
    volumes:
      - event-data:/var/lib/clickhouse
      - event-logs:/var/log/clickhouse-server
      - ./config/clickhouse/logs.xml:/etc/clickhouse-server/config.d/logs.xml:ro
      - ./config/clickhouse/ipv4-only.xml:/etc/clickhouse-server/config.d/ipv4-only.xml:ro
      - ./config/clickhouse/low-resources.xml:/etc/clickhouse-server/config.d/low-resources.xml:ro
      - ./config/clickhouse/default-profile-low-resources-overrides.xml:/etc/clickhouse-server/users.d/default-profile-low-resources-overrides.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      - CLICKHOUSE_SKIP_USER_SETUP=1

  plausible:
    image: ghcr.io/plausible/community-edition:v3.2.0
    hostname: plausible
    container_name: plausible
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh run"
    restart: always
    logging: *default-logging
    depends_on:
      - plausible_db
      - plausible_events_db
    expose:
      - "8000"
    environment:
      - BASE_URL=https://stats.terrty.net
    volumes:
      # robots.txt restricting indexing anything on the stats website
      - ./config/plausible-robots.txt:/app/lib/plausible-0.0.1/priv/static/robots.txt:ro
    # SECRET_KEY_BASE, TOTP_VAULT_KEY, many other variables
    env_file: private/environment/plausible.env

  adminer:
    image: adminer
    hostname: adminer
    container_name: adminer
    expose:
      - "8080"
    environment:
      ADMINER_DEFAULT_SERVER: localhost
    volumes:
      # MySQL socket to prevent transferring data through TCP
      - ./private/mysqld:/var/run/mysqld
    logging: *default-logging
    restart: unless-stopped

  updater:
    image: ghcr.io/umputun/updater:master
    container_name: updater
    hostname: updater
    restart: always
    logging: *default-logging
    # KEY variable
    env_file: private/environment/updater.env
    environment:
      - LISTEN=0.0.0.0:8080
      - CONF=/etc/updater.yml
    expose:
      - "8080"
    volumes:
      - ./config/updater.yaml:/etc/updater.yml
      - ./private/updater_ssh_key:/home/app/.ssh/id_rsa

  newscope:
    image: ghcr.io/umputun/newscope:master
    container_name: newscope
    hostname: newscope
    restart: always
    logging: *default-logging
    # OPENAI_API_KEY variable
    env_file: private/environment/newscope.env
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - ./config/newscope.yml:/srv/config.yml:ro
      - ./private/newscope-data:/srv/var
    expose:
      - "8080"
    command: ["--config=/srv/config.yml"]

  lhci:
    build: config/lhci
    image: ghcr.io/paskal/lhci-server:latest
    container_name: lhci
    hostname: lhci
    restart: always
    logging: *default-logging

    expose:
      - "9001"

    env_file: private/environment/lhci.env

    environment:
      - TZ=UTC

    volumes:
      - ./private/lhci-data:/data

    labels:
      - "telegram-notifier.monitor=true"

  telegram-notifier:
    image: lorcas/docker-telegram-notifier:latest
    container_name: telegram-notifier
    hostname: telegram-notifier
    restart: always
    logging: *default-logging
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    # TELEGRAM_NOTIFIER_BOT_TOKEN, TELEGRAM_NOTIFIER_CHAT_ID
    env_file: private/environment/telegram-notifier.env
    environment:
      - TZ=UTC
      - ONLY_WHITELIST=true

volumes:
  db-data:
    driver: local
  event-data:
    driver: local
  event-logs:
    driver: local
